# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Xcode
ios/build/
ios/Pods/
*.xcworkspace
*.xcuserdata
*.xcscmblueprint
DerivedData/

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
*.keystore
*.jks

# Metro bundler
.metro-health-check*

# React Native packager
.expo/
.expo-shared/

# Logs
logs
*.log

# Testing
coverage/

# Environment files
.env
.env.*

# Temporary files
tmp/
temp/

# Build files
build/
dist/

# IDE files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Watchman
.watchmanconfig

# CocoaPods
ios/Podfile.lock

# Gradle
.gradle